<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Servlet Name For Test</servlet-name>
        <servlet-class>com.company.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet Name For Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test JSP Servlet</servlet-name>
        <jsp-file>/home.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test JSP Servlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>